// GLOBALS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// VARIABLE
$font-family: 'Roboto', sans-serif;

// COLORS
$white: #fff;
$blue: #0F8BFD;
$main-grey: #111;
$grey: #161616;
$light-grey: #2D2D31;
$overlay: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 0.8) 80%);
$overlay-right: linear-gradient(269.66deg, #1D1D1D 3.45%, rgba(29, 29, 29, 0) 96.65%);
$overlay-film: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 0.8) 80.79%);

// WRAPPER
// Main
$main_wrapper-x: clamp(1.4375rem, -1.075rem + 12.5625vw, 14rem);
$nav-wrapper-t: clamp(0.8125rem, 0.6125rem + 1vw, 1.8125rem);
// Movie
$movie_wrapper-l: clamp(0.6875rem, 0.375rem + 1.5625vw, 2.25rem);

// FONT_SIZES
// Nav
$logo: clamp(1.125rem, 0.95rem + 0.875vw, 2rem);
// Hero
$genre: clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem);
$title: clamp(1.9375rem, 1.625rem + 1.5625vw, 3.5rem);
$disc: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
$cta: clamp(0.8125rem, 0.75rem + 0.3125vw, 1.125rem);
// Films
$label: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
$genre_film: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
$title_film: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
$title_big_film: clamp(1.5625rem, 1.475rem + 0.4375vw, 2rem);
$title_big_serie: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
// Footer
$logo_footer: clamp(2.0625rem, 1.95rem + 0.5625vw, 2.625rem);
$copyright_footer: clamp(0.8125rem, 0.7875rem + 0.125vw, 0.9375rem);


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    background-color: $main-grey;
}

// COMPONENTS
// call-to-action-button
#cta-btn {
    width: 155px;
    height: 40px;
    background-color: unset;
    border: 2px solid $blue;
    border-radius: 22.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    a {
        font-family: $font-family;
        font-size: $cta;
        text-decoration: none;
        color: white;
    }

    @media(min-width:1440px) {
        width: 200px;
        height: 55px;
        border-radius: 40px;
    }
}

// genre
.genre {
    background: rgba(29, 29, 29, 0.5);
    border-radius: 0px 8px;
    width: 90px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    span {
        font-size: $genre_film;
        font-weight: 400;
        color: $blue;
    }

    @media(min-width:1440px) {
        width: 130px;
        height: 30px;
        margin-bottom: 13px;
    }
}


// HEADER
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    z-index: 999;

    position: absolute;

    top: $nav-wrapper-t;
    right: $main_wrapper-x;
    left: $main_wrapper-x;

    #logo {
        h1 {
            font-size: $logo;
            font-weight: 700;
        }
    }

    nav {
        display: none;

        ul {
            display: flex;
            list-style: none;

            a {
                font-weight: 400;
                text-decoration: none;
            }
        }
    }

    #user {
        display: flex;
        align-items: center;

        margin-left: auto;
        margin-right: 10px;

        img {
            width: 28px;
            border-radius: 100%;
        }

        span {
            display: none;
        }

        .auth_buttons {
            button {
                border: none;
                padding: 10px 15px;
                border-radius: 8px;
                background-color: $blue;

                // &:last-child{
                //     display: none;
                // }

                a {
                    color: $white;
                    text-decoration: none;
                    font-family: $font-family;
                }
            }

            #logoutBtn {
                background-color: #0F8BFD;
                margin-left: 10px;
            }

            #signup {
                display: none;
            }
        }
    }

    #hamburger {
        display: flex;
        flex-direction: column;

        span {
            width: 25px;
            height: 4px;
            border-radius: 10px;
            background-color: white;
        }

        span:nth-child(-n+2) {
            margin-bottom: 3px;
        }
    }

    #menu-items {
        position: absolute;
        bottom: -20px;

        ul {
            display: flex;
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }

    @media(min-width:1440px) {
        nav {
            display: block;
            margin-left: 116px;

            ul {
                li:nth-child(-n+2) {
                    padding-right: 48px;
                }

                li {
                    a {
                        font-size: 1rem;
                        color: white;
                    }
                }
            }
        }

        #user {
            span {
                display: block;
                margin-left: 10px;
                font-weight: 500;
            }

            .auth_buttons {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    border: none;
                    padding: 11px 25px;
                    border-radius: 8px;
                    background-color: $blue;
                    font-weight: 400;

                    &:last-child {
                        display: block;
                        margin-left: 25px;
                        border: 2px solid $blue;
                        background-color: unset;
                    }

                    a {
                        color: $white;
                        text-decoration: none;
                        font-family: $font-family;
                    }
                }

                #logoutBtn {
                    background-color: #0F8BFD;
                    margin-left: 35px;
                }

                #signup {
                    display: block;
                }
            }

        }

        #hamburger {
            display: none;
        }
    }
}


// FOOTER
footer {
    height: 590px;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    position: relative;

    #wrapper__footer {
        right: $main_wrapper-x;
        left: $main_wrapper-x;

        #content__footer {
            #logo__footer {
                h2 {
                    font-size: $logo_footer;
                    font-weight: 500;
                }
            }

            #nav__footer {
                ul {
                    li {
                        list-style: none;

                        a {
                            color: $white;
                            font-weight: 400;
                            text-decoration: none;
                        }

                        &:nth-child(-n +3) {
                            margin-bottom: 28px;
                        }

                        &:first-child {
                            margin-top: 48px;
                        }

                        &:last-child {
                            margin-bottom: 48px;
                        }
                    }
                }
            }

            #socials__footer {
                span {
                    &:nth-child(-n +2) {
                        margin-right: 15px;
                    }

                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    #copyright {
        position: absolute;
        bottom: 30px;
        color: rgb(163, 163, 163);
        font-weight: 400;
        font-size: $copyright_footer;
    }

    @media(min-width:1024px) {
        #wrapper__footer {
            width: 100%;

            #content__footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: $main_wrapper-x;
                padding-left: $main_wrapper-x;

                #nav__footer {
                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            list-style: none;

                            a {
                                color: $white;
                                font-weight: 400;
                                text-decoration: none;
                            }

                            &:nth-child(-n +3) {
                                margin-bottom: 0px;
                                margin-right: 75px;
                            }

                            &:first-child {
                                margin-top: 0px;
                            }

                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }

                }
            }
        }
    }

    @media(min-width:1440px) {
        height: 230px;

        #copyright {
            bottom: 20px;
        }
    }
}

// HERO IMAGES
#slideshow-container {
    margin-bottom: 50px;

    #slideshow {
        display: flex;
        overflow: hidden;
        position: relative;

        .movie {
            height: 100vh;
            position: relative;

            img {
                width: 100vw;
                height: 100%;
                object-fit: cover;
            }

            .info {
                position: absolute;
                top: 25%;
                z-index: 1;
                left: $main_wrapper-x;
                right: $main_wrapper-x;
                color: white;

                h2 {
                    font-size: $title;
                    font-weight: 500;
                    margin-bottom: 55px;
                }

                p {
                    font-size: $disc;
                    font-weight: 400;
                    line-height: 23px;
                    width: 270px;
                    margin-bottom: 40px;
                }

                #genre {
                    background: rgba(29, 29, 29, 0.5);
                    border-radius: 0px 8px;
                    width: 90px;
                    height: 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;

                    span {
                        font-size: $genre;
                        font-weight: 400;
                        color: $blue;
                    }
                }

                #rate {
                    margin-bottom: 15px;

                    svg {
                        padding-right: 0px;
                    }
                }
            }
        }

        #overlay {
            position: absolute;
            background: $overlay;
            height: 100%;
            width: 100%;
            top: 0;
        }
    }

    @media(min-width:1440px) {
        margin-bottom: 43px;

        #slideshow {
            .movie {
                height: 660px;
                animation-name: fade;
                animation-duration: 0.6s;

                .info {
                    #genre {
                        width: 130px;
                        height: 30px;
                        margin-bottom: 13px;
                    }

                    #rate {
                        margin-bottom: 18px;
                    }

                    h2 {
                        margin-bottom: 16px;
                    }

                    p {
                        width: 635px;
                        line-height: 30px;
                        margin-bottom: 16px;
                    }
                }
            }

            @keyframes fade {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            #overlay-right {
                position: absolute;
                background: $overlay-right;
                right: 0;
                top: 0;
                height: 100%;
                width: 220px;
            }

            #director {
                position: absolute;
                display: flex;
                right: 50%;
                bottom: 3%;
                z-index: 99;

                .dot {
                    width: 8px;
                    height: 8px;
                    background: white;
                    opacity: 0.3;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .active {
                    opacity: 100;
                }

                .dot:nth-child(-n+2) {
                    margin-right: 15px;
                }
            }

            #prev {
                position: absolute;
                top: 50%;
                color: white;
                left: 1.5%;
                z-index: 1;
                cursor: pointer;
            }

            #next {
                position: absolute;
                top: 50%;
                color: white;
                right: 1.5%;
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}

// SLIDERS
.row {
    margin-left: 11px;
    margin-bottom: 28px;

    .label {
        margin-bottom: 10px;
        margin-left: 48px;

        span {
            color: white;

            a {
                font-size: $label;
                color: $white;
                text-decoration: none;
                margin-right: 16px;
            }
        }
    }

    .main_movie {
        display: flex;
        overflow-y: scroll;
        color: $white;

        &::-webkit-scrollbar {
            display: none;
        }

        .movie_item {
            margin-right: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover .info_film .hover_watch {
                display: block;
                transition-delay: 1s;
            }

            img {
                width: 200px;
                height: 372px;
                object-fit: cover;
                object-position: center center;
            }

            .info_film {
                position: absolute;
                bottom: 24px;
                z-index: 1;

                h3 {
                    font-size: $title_film;
                    font-weight: 500;
                    width: 150px;
                    margin-top: 18px;
                }

                .hover_watch {
                    display: none;
                    margin-top: 10px;

                    a {
                        font-family: $font-family;
                        color: $white;
                        text-decoration: none;
                        transition: 1s;
                    }
                }
            }

            .overlay-film_scroll {
                position: absolute;
                top: 0;
                width: 100%;
                height: 99.5%;
                background: $overlay-film;
                pointer-events: none;
            }
        }
    }

    @media(min-width:1440px) {
        margin-left: 36px;
        margin-bottom: 50px;

        .label {
            margin-bottom: 24px;
            margin-right: 88px;
        }

        .main_movie {
            .movie_item {
                margin-right: 16px;
                cursor: pointer;

                &:hover {
                    scale: 1;
                }

                img {
                    width: 295px;
                    height: 440px;
                }

                .info_film {
                    h3 {
                        width: 245px;
                    }
                }

            }
        }
    }
}

// -------------------------------------------------
.new-releases {
    margin-left: 0;

    .main_movie {
        .movie_item {
            margin-right: 0;

            .info_film {
                position: absolute;
                bottom: 40px;
                z-index: 1;
            }

            img {
                width: 285px;
                height: 415px;
            }

            .info_film {
                h3 {
                    font-size: $title_big_film;
                    width: 235px;
                    margin-top: 18px;
                }
            }
        }
    }

    @media(min-width:1440px) {
        margin-left: 36px;
        margin-bottom: 50px;

        .main_movie {
            .movie_item {
                margin-right: 0px;

                img {
                    width: 505px;
                    height: 735px;
                }

                .info_film {
                    h3 {
                        width: 455px;
                    }
                }
            }
        }
    }
}

// -------------------------------------------------
.latest-shows {
    .main_movie {
        .movie_item {
            .info_film {
                position: absolute;
                bottom: 40px;
                z-index: 1;
            }

            img {
                width: 322px;
                height: 208px;
            }

            .info_film {
                h3 {
                    font-size: $title_big_serie;
                    width: 275px;
                    margin-top: 18px;
                }
            }
        }
    }

    @media(min-width:1440px) {
        margin-left: 36px;
        margin-bottom: 50px;

        .main_movie {
            .movie_item {
                img {
                    width: 770px;
                    height: 500px;
                }

                .info_film {
                    h3 {
                        width: 720px;
                    }
                }
            }
        }
    }
}

// ________________________________________________________________________________________
// MOVIE INNER
#backdrop_glass_reflection {
    position: relative;

    img {
        width: 100%;
        height: 300px;
        opacity: 43%;
        object-fit: cover;
        transform: scaleY(-1);
    }

    #backdrop_glass_reflection_overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #111111 0%, rgba(0, 0, 0, 0) 100%);
    }

    @media(min-width:1440px) {
        img {
            height: 120px;
            object-fit: cover;
            object-position: 10px 80%;
        }
    }
}



// ________________________________________________________________________________________
// LOGIN
$white: #fff;
$black: #000;
$gray: #b3b3b3;
$orange: orange;
$red: #e50914;

#login__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(https://bit.ly/2E3scwW);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;


    font-family: $font-family;

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(7, 7, 7, 0.95);
        border-radius: 10px;
        box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.103);
        width: 300px;
        height: 400px;
        padding: 60px 68px 80px;

        &__title {
            margin-bottom: 20px;
            font-size: 2.2rem;
            font-weight: 600;
            color: $white;
        }

        &__group {
            position: relative;
            z-index: 10;
            display: flex;

            &__label {
                position: absolute;
                z-index: 150;
                color: $gray;
                font-size: 0.9rem;
                top: 25%;
                left: 18px;
                transition: all 300ms ease-in;
            }

            &__input {
                width: 100%;
                background: $light-grey;
                margin-bottom: 20px;
                border: none;
                font-size: 1rem;
                color: $white;
                line-height: 50px;
                padding: 8px 18px;
            }
        }

        &__sign-in {
            margin: 24px 0 12px;
            padding: 16px;
            color: $white;
            background: $blue;
            font-size: 0.9rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        &__secondary-cta {
            position: relative;
            z-index: 100;
            display: flex;
            justify-content: space-between;

            &__text {
                opacity: 1;
                font-size: 0.9rem;
                color: $gray;
                text-decoration: none;

                &--need-help {
                    transition: all 0.3s ease-in;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

::placeholder {
    font-size: 0.7rem;
}